@font-face
{
     font-family: Roboto;
     src:url(../Fonts/Roboto-Bold.ttf);
}


body
{
    background: -moz-linear-gradient(top, #A3FEBA) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A3FEBA), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, #A3FEBA 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, #A3FEBA 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, #A3FEBA 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(top, #A3FEBA 0%,rgba(0,0,0,0) 100%);
           
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#playerList
{
     width: 500px;
     height: 200px;
     overflow-y: scroll;
     margin-left: auto;
     margin-right: auto;
     background-color: #9E9E9E;
     list-style-type: none;
     padding: 0;
}

#playerList li
{
     width: 450px;
     height: 50px;
     background-color: #00BFA5;
     margin-top: 10px;
     margin-left: auto;
     margin-right: auto;
     padding: 0px 0px 0px 0px;
     font-family: Roboto;
     line-height: 50px;
     
}

#playerList li > span
{ 
    float: right;
}

#mainMenuHeader
{
    height: 50px;
    background-color: #BDBDBD;
    line-height: 50px;
    font-family: Roboto;
    
}

/* #mainMenuHeader > span
{
        float: right;
} */

#logoutButton
{
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Roboto;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position:fixed;
    top:0;
    right:0;
    height: 35px;
    line-height: 35px;
}
#logoutButton:hover 
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
#logoutButton:active 
{
	top:1px;
}